body 
{
	background-image: url(../images/gameScreen44.png);
	background-color: #cccccc;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50px 33px;
	opacity: 1;
	font-size: 1vw;
}

main a
{
	color: blue;
}

main li
{
	list-style-type: none;
	margin-bottom: 50px;
	background-color: rgba(186, 155, 255, 0.5);
	border: dotted;
}

code 
{
	background: rgba(200, 155, 255, 0.75);
	border-radius: 4px;
	font-family: "Courier New", monospace;
	font-size: 0.9rem;
	margin: 0 0.25rem;
	padding: 0.25rem 0.65rem;
	border: double;
}

pre 
{
	font-family: "Courier New", monospace;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;
}

div p
{
	font-size: 1.5vw;
	color: blue;
	text-align: center;
}

pre code 
{
	display: inline-block;
	line-height: 1.75;
	padding: 1rem 1.5rem;
	overflow-x: auto;
}

.navbar
{
	/*margin-left: 42px;*/
	width:100%;
	top: 0;
	overflow-x: hidden;
	padding-top: 0px;
	position: fixed;
}

.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li 
{
    float: right;
    margin-right: 1%;
    border: solid;
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar a
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 5px 15px;
	text-decoration: none;
}

.navbar a:hover 
{
	background: #ddd;
	color: black;
}