* 
{
	font-family: Arial;
	box-sizing: border-box;
	background-color: #151515;
    color: #b4a5a5;
}

#title
{
    align-content: center;
    background-color: white;
}

canvas
{
	border: solid;
	border-color: black;
	border-width: 1px;
	background-color: red;
}

#slider
{
    float: left;
    margin-left: 5vw;
    margin-right: 23vw;
}

/* Dropdown Button */
.dropbtn 
{
    background-color: #301b3f;;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a 
{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #b4a5a5;
    background-color: #3c415c;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn
{
	background-color: #3e8e41;
}
